<h1>Kittens</h1>

<div>
    <ul>
        <% @kittens.each do |kitten| %>
            <li>
                <p>Name: <%= kitten.name %></p>
                <p>Age: <%= kitten.age %></p>
                <p>Cuteness: <%= kitten.cuteness %></p>
                <p>Softness: <%= kitten.softness %></p>
                <p><%= link_to "Edit", edit_kitten_path(kitten) %></p>
            </li>
        <% end %>
    </ul>
</div>

<%= link_to "New Kitten", new_kitten_path %>
